.lightbox-backdrop {
      position: fixed;
      inset: 0;
      background: rgba(0,0,0,.7);
      z-index: 1000;
      pointer-events: none;
    }
    .lightbox-content {
      position: fixed;
      pointer-events: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1001;
      max-width: 90vw;
      max-height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
    .lightbox-content .nav{
      z-index: 1002;
    }
    .lightbox img {
      max-width: 100%;
      max-height: 70vh;
      border-radius: 12px;
    }
    .caption {
      font-size: 1rem;
      text-align: center;
    }
    .nav {
      position: absolute;
      top: 10%;
      transform: translateY(-50%);
      font-size: 2rem;
      background: rgba(0,0,0,0.3);
      border: black solid 4px;
      color: #fff;
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 50%;
    }
    .nav.prev { 
      left: 10px; }
    .nav.next {
       right: 10px; }
    .nav:hover {
       background: rgba(0,0,0,0.6); }