/* FONT  */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500;600&display=swap');



/* CATEGORY BANNER */
.category-banner {
   height: 300px;
  background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
    url('/assets/banner.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
}

.banner-overlay {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  color: #fff;
  padding-left: 80px;
}

.banner-overlay h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
  
}
/* BREADCRUMBS */
.breadcrumbs {
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.breadcrumbs a {
  color: #fff;
  text-decoration: none;
  opacity: 0.85;
  
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span {
  margin: 0 6px;
}

.breadcrumbs .active {
  opacity: 0.7;
}


.collection-container {
  margin-top: 90px;
  background: #f5efe6;
}

.collection-content {
  max-width: 1400px;
  margin: 60px auto 0;
  padding: 0 24px;
}


/* IMAGE GRID */
.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 28px;
}

.collection-item {
  border-radius: 14px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.08);

}

.collection-item img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  transition: transform 0.45s ease;
  border-radius: 16px;
}

.collection-item:hover img {
  transform: scale(1.08);
}
.back-btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}
.back-btn{
  letter-spacing: 1px;
  padding: 12px 38px;
  border-radius: 30px;
  
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .main-image img {
    height: 360px;
  }
}
