
.team {
  background:linear-gradient(135deg, #654ea3 0%, #eaafc8 100%);
}
.team-card {
  
  background: rgba(255, 255, 255, 0.15);
  padding: 28px 22px;
  backdrop-filter: blur(8px);
  color: #fff;
  transition: transform 0.3s;
  border-radius: 18px solid grey;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}
.team-card:hover {
  transform: translateY(-5px);
}
img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 4px solid rgba(255,255,255,0.8);

}
